
body{
   background-color: limegreen;
}

h1{
    color: black;
    text-align: center;
    font-family: Arial;
    font-size: large;
}

#text{
    color: black;
    text-align: center;
    font-family: Arial;
    font-size: large;
}

#dummy{
    color: black;
    text-align: center;
    font-family: Arial;
    font-size: x-large;
}

#iframe300x600{
    float: right;
}

